---
---
@import "rouge-github";
img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 0px;
  margin: 0px 0 0px 0;
  border: 0px solid #000000;

  box-shadow: 0 0 0px #000000;
  -webkit-box-shadow: 0 0 0px #000000;
  -moz-box-shadow: 0 0 0px #000000;
  -o-box-shadow: 0 0 0px #000000;
  -ms-box-shadow: 0 0 0px #000000;
}
@import "{{ site.theme }}";
